@model CandidateAssessments.Models.Assessment

@{
    ViewData["Title"] = "Code";
}
<h2>@Model.CandidateName's Link and Assesment Code</h2>
<h3>Assessment Code:</h3>
<h1>
    @Model.AccessCode
</h1>
<h3>Direct Link:</h3>
<h4>https://localhost:44375/Testing/Assessment?accesscode=@Model.AccessCode</h4>
@Html.ActionLink("Return to List of assesments","Index")