@{
    Layout = "_TestingLayout";
}

<h1 class="text-danger">Quiz Complete</h1>
<h2 class="text-danger">This quiz has been completed.  Thank you for your interest in RDA.</h2>
@Html.ActionLink("Head back to your assessments","Assessment")