
<br />
<div class="row">

    <div class="col-md-12">
        <div class="text-center">
            <h2>Welcome to the RDA Candidate Assessment Tool</h2>

            @if (User.IsInRole("Admin") || User.IsInRole("Recruiter"))
            {
                <a class="" href="/Assessments" role="button">
                    <h2>Assessments</h2>
                    <p>Create or review candidate assessments.</p>
                </a>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("QuestionManager"))
            {
                <a class="" href="/Topic" role="button">
                    <h2>Questions</h2>
                    <p>Manage the topics and the pools of questions for each topic.</p>
                </a>
            }

        </div>
    </div>

</div>
