@{
    ViewData["Title"] = "Home Page";
}


<br />
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h2>Assessments</h2>
            <p>Create or review candidate assessments</p>
            <p><a class="btn btn-primary btn-lg" href="/Assessments" role="button">Let's Go!</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h2>Questions</h2>
            <p>Manage the topics and the pools of questions for each topic.</p>
            <p><a class="btn btn-primary btn-lg" href="/Topic" role="button">Let's Go!</a></p>
        </div>
    </div>
</div>
