body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 750px !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

#pageNav {
    margin-top: 20px;
}

#LogoBrand {
    padding: 0 0 !important;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: .25rem;
}

.card-block {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .25rem .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

    .card-header:first-child {
        border-radius: .25rem .25rem 0 0;
    }

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

    .card-footer:last-child {
        border-radius: 0 0 .25rem .25rem;
    }

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-inactive {
    background-color: rgba(217, 83, 79, 0.58);
    border-color: rgba(217, 83, 79, 0.58);
}

.card-primary-outline {
    background-color: transparent;
    border-color: #0275d8;
}

.card-secondary-outline {
    background-color: transparent;
    border-color: #ccc;
}

.card-info-outline {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-success-outline {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-warning-outline {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-danger-outline {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

    .card-inverse .card-link,
    .card-inverse .card-text,
    .card-inverse .card-blockquote > footer {
        color: rgba(255, 255, 255, .65);
    }

        .card-inverse .card-link:focus, .card-inverse .card-link:hover {
            color: #fff;
        }

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: .25rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-radius: .25rem .25rem 0 0;
}

.card-img-bottom {
    border-radius: 0 0 .25rem .25rem;
}


.card-deck {
    display: block;
    border-spacing: 1.25rem 0;
}

    .card-deck .card {
        display: block;
        vertical-align: top;
    }

.cardHeader {
    display: inline-block;
    min-width: 50px;
}

@media (min-width: 544px) {
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

        .card-group .card {
            display: table-cell;
            vertical-align: top;
        }

            .card-group .card + .card {
                margin-left: 0;
                border-left: 0;
            }

            .card-group .card:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

                .card-group .card:first-child .card-img-top {
                    border-top-right-radius: 0;
                }

                .card-group .card:first-child .card-img-bottom {
                    border-bottom-right-radius: 0;
                }

            .card-group .card:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

                .card-group .card:last-child .card-img-top {
                    border-top-left-radius: 0;
                }

                .card-group .card:last-child .card-img-bottom {
                    border-bottom-left-radius: 0;
                }

            .card-group .card:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

                .card-group .card:not(:first-child):not(:last-child) .card-img-top,
                .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
                    border-radius: 0;
                }
}

@media (min-width: 544px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.card > h3 {
    margin: 0 !important;
    font-weight: bold;
}

.card > h4 {
    margin: 0 !important;
}

.card > .dl-horizontal {
    margin: 0 !important;
    padding: 7.500px 0;
    min-height: 50px;
}

.question_label {
    font-weight: bold;
    display: block;
    float: left;
}

.question_text {
    font-weight: normal;
    display: block;
}

div.question, div.topic, div.assessments{
    margin-bottom: 20px;
}

.topic-card:hover{
    background-color: rgba(235,127,127, 0.4);
    
}

.topic-card:hover .topicHeader{
    background-color:rgba(215, 0, 0, 0.40);
    border-color:rgba(215, 0, 0, 0.40);
}

.quiz-radio, .input-label {
    display: none;
}

.quiz-items {
    border-radius:8px;
}
.quiz-header {
        border-radius: 8px 8px 0 0 !important;
        font-weight:bold;
}
.quiz-block {
    padding:1.25rem 0 1.25rem 0;
    min-height: 123.2px;
}
.quiz-col{
    padding: 0 7.5px 7.5px 7.5px;
}

.full-result{
    margin-top:15px;
}
.assessment-list{
    margin-bottom:40px;
}

.navbar-brand-custom {
    padding: 15px 0; 
    margin-left: -15px; 
    color: black !important;

}

.text-underline {
    text-decoration: underline;
}

.text-underline:hover {
    text-decoration: underline;
}

.TopicLink, .TopicLink:hover, .TopicLink:active {
        text-decoration: none;
        color: black;
    }

.CandidateName, .TopicNames{
    font-weight: bold;
    font-size: 24px;
}

.center-text-trick {
  height: 100px;
  line-height: 85px;
  white-space: nowrap;
}
.active-hover{
    background-color:rgba(0, 44, 106, 0.40);
    color:white; 
    border-color:#99AAC3;
}

.active-RDA{
        background-color:#002C6A;
    color:white; 
    border-color:#002C6A;
}
.reportTable td {
        border-top: none !important;
    }
.reportTable th{
     border-top: none !important;
    background-color:#F2F2F2;
}


