@model IEnumerable<CandidateAssessments.Models.Topic>

<h2>Topics</h2>

<p>
    <a asp-controller="Topic" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>

    <!-- Comment to test push -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>