@model IEnumerable<CandidateAssessments.Models.Topic>

<script>
    function goToQuestions() {
        window.location.href = '/TopicQuestions';
    }
</script>


<!--
    Navbar for Search and CreateNew
-->
<nav class="navbar navbar-full navbar-default" id="pageNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Topics</a>

        <form class="nav navbar-form navbar-nav pull-right" method="get" asp-action="Create">
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New</button>
        </form>

        <form class="navbar-form pull-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>

    </div>
</nav>
@{ IEnumerable<dynamic> qs = ViewBag.Questions;}
<ul class="list-unstyled col-md-offset-3">
    @foreach (var item in Model)
    {
        <li>
            <a class="TopicLink" href="/TopicQuestions/?TopicId=@item.TopicId">
                <div class="bubble col-md-offset-4 danger">
                    <h3 class="text-center">

                        @item.Name&nbsp;&nbsp;@qs.Where(x => x.TopicId == item.TopicId).Count() Questions
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </h3>
                </div>
            </a>
        </li>

    }
    <li>
        <a class="TopicLink" href="/TopicQuestions/">
            <div class="bubble col-md-offset-4">
                <h3 class="text-center">
                    All&nbsp;&nbsp;@qs.Count() Questions
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </h3>
            </div>
        </a>
    </li>

</ul>
